.board{
    margin: auto;
    background: #ddd;
    overflow: hidden;
    outline: none;
    border: 2px solid black
}

.cell{
    width: 30px;
    height: 30px;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
}

.body-cell{
    width: 30px;
    height: 30px;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    background-color: blue;
}

.food-cell{
    width: 30px;
    height: 30px;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    background-color: red;
}